
<nav class="actions">
	<a href="#" class="new" accesskey="n">+ New Card</a>
</nav>

<ul id="cards">
	<% @scenes.each do |scene| %>
		<li>
			<%= render :partial => 'card', :locals => {:scene => scene} %>
		</li>
	<% end %>
</ul>
