
<ul id="cards">
	<% @scenes.each do |scene| %>
		<li><%= render :partial => 'form', :locals => {:scene => scene} %></li>
	<% end %>
</ul>

<p class="plus-one">
	<a href="#" class="new">+New Card</a>
</p>

